:root {
    --min-w: 5rem;
    --min-h: 2rem;
    --accent: red;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#binstack {
    overflow-x: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-auto-rows: minmax(var(--min-h), auto);
    border: 3px dotted red;
    gap: 10px;
    overflow: auto;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.black-cell {
    background-color: rgb(165, 165, 165);
    min-width: var(--min-w);
    min-height: var(--min-h);
}

textarea {
    min-width: var(--min-w);
    min-height: var(--min-h);
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #fff, #532e2e);
    resize: both;
    overflow: auto;
}

img {
    width: 1em;
    animation: focus 10s infinite;
}

@keyframes focus {
    50% {
        transform: scale(2);
        background: radial-gradient(var(--accent) 0%, transparent 50%);
    }
}

.button-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: calc(3 * var(--min-w));
    padding: 1em;
}

